<div class="container-fluid">
  <div class="tittle_outer">
    <div class="user_title">
      <div class="user_title_inner">
        <h2>{{ userId ? "Edit" : "Add" }}&nbsp;User</h2>
      </div>
    </div>
  </div>

  <div class="card pad10 add_ussr">
    <div class="card-body">
      <form [formGroup]="userForm">
        <div class="row">
          <div class="form-group col-md-6 cmn_frm">
            <label for="title">Name</label>
            <span class="red-str">*</span>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Enter Name"
              />
            </div>
            <div
              *ngIf="submitted && userForm.controls.name.errors"
              class="invalid-feedback"
            >
              <div *ngIf="userForm.controls.name.errors.required">
                Name is required
              </div>
              <div *ngIf="userForm.controls.name.errors.pattern">
                Name is not valid
              </div>
            </div>
          </div>
          <div class="form-group col-md-6 cmn_frm">
            <label for="category">Age</label>
            <span class="red-str">*</span>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                formControlName="age"
                placeholder="Enter Age"
              />
            </div>

            <div
              *ngIf="submitted && userForm.controls.age.errors"
              class="invalid-feedback"
            >
              <div *ngIf="userForm.controls.age.errors.required">
                Age is required
              </div>
              <div *ngIf="userForm.controls.age.errors.pattern">
                Age must be a Number
              </div>
            </div>
          </div>
          <hr />
          <div style="width: 100%">
            <div class="new_rw">
              <h2>Address</h2>
              <button mat-raised-button color="primary" (click)="addAddress()">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>

            <div formArrayName="address" class="nw_form">
              <div
                class="col-md-4"
                *ngFor="let item of address().controls; let i = index"
                [formGroupName]="i"
              >
                <div class="row">
                  <div class="form-group col-md-12 cmn_frm">
                    <label for="category">City</label>
                    <span class="red-str">*</span>
                    <div class="input-group">
                      <input
                        type="text"
                        formControlName="city"
                        class="form-control"
                        placeholder="Enter City"
                      />
                    </div>

                    <div
                      *ngIf="submitted && item?.get('city')?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="item?.get('city')?.errors?.required">
                        City is required
                      </div>
                      <div *ngIf="item?.get('city')?.errors?.pattern">
                        City must be Valid
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12 cmn_frm">
                    <label for="category">State</label>
                    <span class="red-str">*</span>
                    <div class="input-group">
                      <input
                        type="text"
                        formControlName="state"
                        class="form-control"
                        placeholder="Enter State"
                      />
                    </div>

                    <div
                      *ngIf="submitted && item?.get('state')?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="item?.get('state')?.errors?.required">
                        State is required
                      </div>
                      <div *ngIf="item?.get('state')?.errors?.pattern">
                        State must be Valid
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12 cmn_frm">
                    <label for="category">House No.</label>
                    <span class="red-str">*</span>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="house"
                        placeholder="Enter House"
                      />
                    </div>

                    <div
                      *ngIf="submitted && item?.get('house')?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="item?.get('house')?.errors?.required">
                        House No. is required
                      </div>
                      <div *ngIf="item?.get('house')?.errors?.pattern">
                        House No. must be Valid
                      </div>
                    </div>
                  </div>
                  <div class="form-group col-md-12 cmn_frm">
                    <label for="category">Country</label>
                    <span class="red-str">*</span>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="country"
                        placeholder="Enter Country"
                      />
                    </div>

                    <div
                      *ngIf="submitted && item?.get('country')?.errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="item?.get('country')?.errors?.required">
                        Country is required
                      </div>
                      <div *ngIf="item?.get('country')?.errors?.pattern">
                        Country must be Valid
                      </div>
                    </div>
                  </div>

                  <div class="form-group col-md-12 cmn_frm">
                    <label for="category">Status</label>
                    <span class="red-str">*</span>
                    <div class="input-group">
                      <mat-slide-toggle formControlName="status">
                      </mat-slide-toggle>
                    </div>
                  </div>
                  <div class="form-group col-md-12 cmn_frm">
                    <label for="category">Delete</label>
                    <div class="input-group">
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="address().removeAt(i)"
                      >
                        <i class="fa-solid fa-trash"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group form-actions add_edit">
          <button mat-raised-button color="primary" (click)="submit()">
            {{ !userId ? "Submit" : "Update" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
