.red-str {
  padding: 10px;
  font-weight: 600;
  color: red;
}
.nw_form {
  display: flex;
  flex-wrap: wrap;
}
.new_rw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.invalid-feedback {
  display: block !important;
}
