<div class="container-fluid">
  <div class="title-outer">
    <h2>Users</h2>

    <button mat-raised-button color="primary" routerLink="add">
      Add Users
    </button>
  </div>
  <table class="table border_spacing border_pd" width="100%" cellspacing="0">
    <thead>
      <th>#</th>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>

    <tbody>
      <tr
        *ngFor="let item of userList; let i = index"
        style="border-bottom: 1px solid grey"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ item.name }}</td>

        <td>{{ item.age }}</td>
        <td>
          <button
            mat-raised-button
            color="primary"
            routerLink="address"
            [queryParams]="{ id: item.id, index: i }"
          >
            Address
          </button>
        </td>
        <td>
          <button
            mat-raised-button
            color="primary"
            routerLink="add"
            [queryParams]="{ id: item.id, index: i }"
          >
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="deleteUser(i)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
