<div class="container-fluid">
  <div class="title-outer">
    <h2>Address</h2>

    <button
      mat-raised-button
      color="primary"
      *ngIf="!isSelected"
      (click)="deleteAll = !deleteAll"
    >
      Delete Multiple
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="isSelected"
      (click)="deleSelectedRows()"
    >
      Delete Selected
    </button>
  </div>
  <table class="table border_spacing border_pd" width="100%" cellspacing="0">
    <thead>
      <th>#</th>
      <th>City</th>
      <th>State</th>
      <th>House No.</th>
      <th>Country</th>
      <th>Status</th>
      <th>Delete</th>
      <th *ngIf="deleteAll">Action</th>
    </thead>

    <tbody>
      <tr
        *ngFor="let item of addressList; let i = index"
        style="border-bottom: 1px solid grey"
      >
        <td>{{ i + 1 }}</td>
        <td>{{ item.city }}</td>

        <td>{{ item.state }}</td>
        <td>{{ item.house }}</td>
        <td>{{ item.country }}</td>
        <td>
          <mat-slide-toggle
            [checked]="item.status"
            (change)="changeStatus($event, i)"
          >
          </mat-slide-toggle>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="deleteRows(i)">
            <i class="fa-solid fa-trash"></i>
          </button>
        </td>
        <td>
          <mat-checkbox *ngIf="deleteAll" (change)="selectedRows($event, i)">
          </mat-checkbox>
        </td>
      </tr>
    </tbody>
  </table>
</div>
