/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container-fluid {
  .title-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.table {
  background: #f9f9f9;
}
.table.border_spacing {
  border-spacing: 0px 20px;
  border-collapse: separate;
}
.border_spacing thead th {
  vertical-align: middle;
}
.border_spacing thead tr {
  height: 60px;
  background: #c3c3c324;
}
.border_spacing td {
  border-top: 0;
}
.table.border_spacing th {
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  color: #000000;
}
.border_spacing tbody td {
  vertical-align: middle;
}
.border_spacing tbody td {
  vertical-align: middle;
  color: #000000;
  font-size: 14px;
  line-height: normal;
}
.table.border_spacing thead th:first-child {
  border-top-left-radius: 20px;
}
.table.border_spacing thead th:last-child {
  border-top-right-radius: 20px;
}
.border_spacing tr {
  vertical-align: middle;
  background: #fff;
}
.border_spacing tbody td {
  padding: 0;
}
